@model CampaignForProduct.Models.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form id="newProduct">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#newProduct").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/api/Products",
                method: "post",
                data: {
                    Name: $("#Name").val()
                }
            })
            .done(function () {
                $("#newProduct")[0].reset();
                toastr.success("Product successfully created.");
            })
            .fail(function () {
                toastr.error("An error occured.");
            });
        });
    </script>
}
