@model IEnumerable<CampaignForProduct.Models.Campaign>

@{
    ViewBag.Title = "Campaigns";
}

<h2>Campaigns</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<label><input type="checkbox" id="checkbox" value="value">Show Active</label>
<table class="table table-bordered table-hover" id="campaigns">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Product)</th>
            <th>@Html.DisplayNameFor(model => model.Start)</th>
            <th>@Html.DisplayNameFor(model => model.End)</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            
            var oTable = $("#campaigns").DataTable({
                serverSide: true,
                processing: true,
                ordering: false,
                searching: false,
                paging: true,
                ajax: {
                    url: "/api/Campaigns",
                    type: "GET",
                    data: function (d) {
                        d.filter = $('#checkbox').is(':checked');
                    },
                    dataSrc: "data"
                },
                columns: [
                    { data: "name" },
                    { data: "product.name" },
                    { data: "start" },
                    { data: "end" }
                ]
            });

            $('#checkbox').on("click", function (e) {
                oTable.draw();
            });
        })
    </script>
}
