@model IEnumerable<CampaignForProduct.Models.Campaign>

@{
    ViewBag.Title = "Campaigns";
}

<h2>Campaigns</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover" id="campaigns">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayNameFor(model => model.Product)</td>
            <td>@Html.DisplayNameFor(model => model.Start)</td>
            <td>@Html.DisplayNameFor(model => model.End)</td>
        </tr>
    </thead>
    <tbody>
    </tbody>    
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#campaigns").DataTable({
                serverSide: true,
                processing: true,
                ajax: {
                    url: "/api/campaigns",
                    dataSrc: ""
                },
                columns: [
                    { data: "name" },
                    { data: "product.name" },
                    { data: "start" },
                    { data: "end" }                                        
                ]
            });
        })
    </script>        
}
